version: '2.1'

services:

  nginx-proxy:
    image: jwilder/nginx-proxy:${NGINX_PROXY_TAG}
    container_name: nginx-proxy
    ports:
      - '${NGINX_PROXY_HTTP}:80'
      - '${NGINX_PROXY_HTTPS}:443'
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - .certs:/etc/nginx/certs # Comment to listen on 80 instead of 443
      - dhparam:/etc/nginx/dhparam
      - ./custom.conf:/etc/nginx/conf.d/custom.conf:ro
    restart: always

networks:
  default:
    external:
      name: ${NGINX_PROXY_NET}

volumes:
  dhparam:
